body{
    background: url(../img/login/tela-login_fundo.png) no-repeat center center;
    height: 88vh;
    background-size: 100% 128%;
}

label{
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16.43px;
    color: #FFFFFF;
    text-shadow: 4px 6px 8px #000000;
}

#bg_title{
    background-color: #0391e6;
    height:98px;
    margin-right:-15px;
    margin-left:-15px;

}
#titulo-login-observador{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 5px 5px #000;
    position: relative;
    top: 10px;
    left: -17px;
}
#input-login-observador{
    margin-top: 18px;
}
#input-login-observador input{
    padding-left: 10px;
    margin-right: 10px;
}
#btn-professor {
    background: url(../img/login/btn-login-professor.png) 0 0 no-repeat;
    width: 61px;
    height: 32px;
    border: none;
}

#esqueci_senha{
    color : #3aeb50;
    margin-left: 210px;
}

#login_aluno{
    margin-top:2em;
}
#bg_login_aluno{
    background: url(../img/login/fundo.png) no-repeat center;
    height: 533px;
}
#login-img{
    margin-left: -30px;
    margin-top: -21px;
}
#aluno{
    margin-top:0.3em;
    font-family: "chewy", sans-serif;
    font-size: 32.23px;
    color: #FFFFFF;
    text-shadow: 4px 6px 8px #000000;
}

#login_aluno_input{
    margin-top: 10px;
    text-transform:uppercase;
}
#login_aluno_input::placeholder{
    margin-left: 10px;
    padding-left: 10px;
}
#aluno-senha{
    margin-top: 48px;
}

#btn-interrogacao{
    margin-left: 10px;
}

#rodape_login{
    margin-top: -79px;
}


.box-cartoons{
    width: 50px;
    height: 53px;
    border: 1px solid #146118;
    position: relative;
    left: 10px;
    top: 5px;
    background-color: rgba(113, 194, 117, 0.5);
    margin-right: 10px;
    margin-bottom: 6px;
    text-align: center;
    padding: 3px 0 0 1px;
    border-radius: 10px;
}



.pass button {
    background: url(../img/login/btn-login-aluno.png) 0 0 no-repeat;
    width: 110px;
    height: 55px;
    border: none;
    margin-left: 99px;
    margin-top: 30px;
    position: relative;
    left: 27px;
    bottom: 10px;
}


.light-box {
    background-color: rgba(104, 108, 100, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;}
.light-box .bg-error{
    background: url(../img/bg-erro.png) 0 0 no-repeat;
    width: 453px;
    height: 293px;
    margin: 189px 0 0 0px;
    text-align: center;
    padding: 45px 0 0 0;
}
.center{
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    margin: 0 auto;
    width: 940px;
    position: relative;
}

.light-box .bg-error .title-erro {
    font-family: 'chewy';
    color: #fff;
    font-size: 36px;
    text-shadow: -2px 4px #7c4208;
    display: block;
    margin-bottom: 34px;
}

.light-box .bg-error span:nth-child(2).email-text {
    margin-bottom: 18px;
}

.light-box .bg-error input {
    box-shadow: inset 2px 3px 8px 0px #a9a9a9;
    padding: 10px 0 10px 10px;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    width: 242px;
    color: #000;
    font-family: Arial;
    margin-left: 106px;
    float: left;
}
.light-box .bg-error .enviar-email {
    background: url(../img/btn-enviar.png) 0 0 no-repeat;
    width: 87px;
    height: 52px;
    text-indent: -9999px;
    border: none;
    display: block;
    font-size: 1px;
    float: right;
    margin-right: 96px;
    margin-top: 17px;
}

.light-box .bg-error span:nth-child(2) {
    font-family: Arial;
    color: #fff;
    text-shadow: 2px 2px 2px #783b06;
    margin-bottom: 38px;
    display: block;
}