.topo-tab{
	
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #9ed0f6;
	font-family: "Arial";
	color:#ffffff;
}
.abas{
	/*border:10px;*/
	margin-right: 10px;
}
.new-scola{
	display:block;padding-left: 18px;
}
.botao-nova-escola{
	background-color: #0391E6;
	color: white;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.botao{
background-color: #0391E6;
	color: white;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
button:focus{
	outline: 1px transparent;
}

.normalizar-botao{
	background-color: inherit;
	border: 1px transparent;
	padding-right: 50px;
}

.input-group{
	top:50px;
	opacity: 0.5;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: inherit;
    border-bottom-width: 2px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: red;
    border-left-color: transparent;
}

.nome-prof{
    border: 1px solid white;
}

.botao-salvar{
	background-color: #0391E6;
	color: white;
	float: right;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .70rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pesquisa{
	width: 60%;
	float: right;
}
.img-resize{
    width: 102px;
    height: 102px;
}
.w-descricao{
    width: 283px;
}
.w-motivo{
    width: 268px;
    height: 95px;

}
/*.pesquisa-input{
	padding-left: 20px;
	border-radius: 40px;
	background-color: #dedede;
	height: 30px;
}*/

.fa-angle-down{
	color:#969696;
	float: right;
}

.fa-angle-up{
	color:#969696;
	float: right;	
}

.nav-link.show {
    color: black;
    background-color: inherit;
    border-color: white white white;
}

.nav-link{
	color: #4c4c4c;
	background-color: inherit;
	padding:.5rem 0rem;
	margin-left: 10px;
}

.form-control:focus{
	box-shadow: 0;
}

a:hover{
	color: inherit;
}

.form-control {
    display: block;
    width: 100%;
    padding:0;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px transparent;
    border-radius:0;
}

.nav-link:hover{
	/*border-top: :6px transparent;*/
	color:inherit;
	border-left-color: transparent;
	border-right-color:transparent;

}

.top-escolas-tabela{
	font-family: "Arial";
	font-size: 25.08pt;
	color: #0391E6;
	margin-bottom: 0px;
}

.card{
	background-color: initial;
}

.edit-ico{
	float: right;
	color:#969696;
}

.aba-prof{
      min-height: 366px;
}

.distanciamento{
	padding-top: 10px;
	padding-bottom: 10px;
}

.item-tabela{
	border: 1px solid white;
	font-family: "Arial";
	border-radius: 0;
	font-size: 12pt;
    padding-top: 14px;
    padding-bottom: 14px;
}

.item-tabela-h{
	border: 1px solid white;
	padding-left: 10px;
	font-family: "Arial";
	border-radius: 0;
	font-size: 12pt;
    color: #ffffff;
    padding-top: 14px;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.row-par{
	background-color: #dedede;
}

.row-impar{
	background-color: #f3f3f3;
}

.seta-cima{
    transform: rotate(180deg);
}

.input-height-30{
    height:30px;
}

.mudar_senha{
    color:#0391e6;
    margin-left: -6px;
    margin-top: 50px;
    margin-bottom:19px;
}