@font-face{
	font-family: "Myriad-Condlt";
	src: url("/static/fontes/MyriadPro-Bold_0.otf");
}
@font-face {
    font-family: "dinengschriftregular";
    src: url("/static/fontes/DINEngschrift_Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;

}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: initial;

}


.menu-dropdown{
	background-color: #0391E6;
}

.drop-ambientes{
	background-color: #0391E6;
	color:white;
	font-family: "dinengschriftregular"
}
.card-body{
	padding: 0;
}



#header-content{
	background-color: #0391E6;
	height: 91px;
	clear: both;

}
#ambiente-drop{
	font-family: "Myriad-Condlt", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	position: relative;
	bottom: 120px;
	right: 150px;

}

#header-text{
	font-family: "Myriad-Condlt", sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 24.7px;
	margin-top: 43px;
	margin-left: 13px;
	/*bottom: 70px;*/
	/*right: 150px;*/

}

.header-dropdown{
	margin-top:49px;
}

.teste{
	height: 100px;
}
#conecturma-logo{
	margin-top: 20px;
	margin-left: 19px;
	padding: 0;
	box-sizing: border-box;
	height: auto;


	/*bottom: 30px;*/
	/*left: 45px;*/
}

.topo{
	position: relative;
	top: 20px;
	/*right: 90px;*/
}



.li-background:hover {
	background-color: #9ED0F6;
}



.content-block{
	width: 75%;
	position: relative;
	right:80px;
	/*margin-left: 40px;*/
	clear: both;
	box-sizing: border-box;
	}

.home-font{
	color:#FFF;
	background-color: #A8D9FF;
}

.home-background{
	font-family: "Myriad-Condlt", sans-serif;
	text-transform: uppercase;
	/*font-weight:bold;*/
	font-size: 12.35px;
}
.fonts-drop{
	font-family: "dinengschriftregular";
	font-size: 14px;
	margin-bottom: 0px;
	color: white;
}

.relatorio-ico{
	margin-right: 16px;
	box-sizing: border-box;
}

.cadastros-ico{
	margin-left: 19px
}

.list-group-item{
	padding: 0.50rem 1.30rem;
	background-color: inherit;
	color:inherit;

}


.list-group{
	margin-bottom: 100px;
}

.profile-image{
	width: 148px;
    height: 141px;
	border-radius: 100px;
	box-sizing: border-box;
}

.efeito-img:hover .profile-image {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.6;
}
.efeito-img:hover .middle {
  opacity: 1;
}

.Ola{
	font-size: 25.81px;
	color:#0391E6;
}

.fonte-texto{
	color: #5c5c5c;
	font-family: calibri, sans-serif;
	font-size: 17.78px;
}

.tutorial-block{
	margin-top: 33px;
	box-sizing: border-box;
	clear:both;


}

.relatorios-tut-font {
    color: #2196E3;
}

.gerenciam-tut-font {
    color: #00CA34;
}

.recursos-tut-font {
    color: #FF9000;
}

.tutorial-relatorio{
	position: relative;
	right: 17px;
}
.tutorial-gerenciamento{
	margin-right: 70px;
}
.tutorial-recursos{
	margin-right: 70px;
}

.recursos-ped-background{
	background-color: #FF9000;

}

.recursos-ped{
	font-family: "Myriad-Condlt", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color:white;
	font-size: 12.35px;

}

.recursos-ico{
	box-sizing: border-box;
}

.relatorios{
	font-family: "Myriad-Condlt", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	background-color: #3196E3;
	font-size: 12.35px;
}

.gerenc-cadastro{
	color: white;
	font-family: "Myriad-Condlt", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #00CA34;
	font-size: 12.35px;
}

.li-background {
	font-family: "Myriad-Condlt", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color :#223E6C;
	background-color: #A8D9FF;
	font-size: 11.11px;
}

.texto-inicial{
	position: relative;
	

}
.footer1{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #BED7EA;
	color: white;
	text-align: center;
}

.list-group-item:last-child{
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
}
.list-group-item:first-child{
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dropdown-item:focus, .dropdown-item:hover{
background-color:initial;
}

.botao{
background-color: #0391E6;
	color: white;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}

.modal-dialog{
   overflow-y: initial !important
}
.modal-body{
   height: 250px;
   overflow-y: auto;
}

.modal-content{
    height: 455px;
}