body {
    -webkit-print-color-adjust: exact;
}
table.table-bordered{
    border:2px solid #fff;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:2px solid #fff;
}
table.table-bordered > tbody > tr > td{
    border:2px solid #fff;
}

.hoover:hover {
    background-color: #0391E6;
    color: white;
}



.checkbox-group{
  font-size: 13.31px;
  font-family: Arial;
  font-weight: bold;
}

.text-rel{
  font-size:27px;
  font-family: Arial;
  color:#299ae8;
}
.portugues{
  margin-right: 10px;
}
.nome_aluno{
  text-transform:uppercase;
  font-size:27px;
  color:#299ae8;
  display: inline-block;

}

input {
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: relative;
  /* top: -4px; */
  top: 3px;
  overflow: hidden;

}

#rodape{
  background-color: #bed7ea;
  padding: 10px 0;
  position: static;
  bottom: 0;
  width: 100%;

}
#rodape a{
  font-family: Calibri, sans-serif;
  font-size: 17.76px;
  text-decoration: none;
  color: #9bacba;
  padding-top: 5px;

}

.hiddenRow {
    padding: 0 !important;
}

  .number{
    font-family: Calibri, sans-serif;
    font-size: 10px;
    margin-left: 10px;
  }
  .word{
    font-family: Calibri, sans-serif;
    position: relative;
    font-size: 16px;
    margin-left: 13px;
    bottom: 6px;
  }
  .circles{
    display: inline-flex;
    margin-left:176px;
    margin-bottom: 38px;
    margin-top: 24px;
                    }
  .circle
  {
   margin-right: 97px;
   }


