@font-face {
     font-family: chewy;
     src: url('/static/fontes/Chewy.ttf');
}
body{
overflow: hidden;
}

.bg{

	background:url("img/tela-login_fundo.png") no-repeat center center;
	height: 110vh;
    background-size: 110% 100%;


}

.bg_login{
	background:url("img/fundo-copy.png") no-repeat center center ;
	height: 100vh;
    max-width:1000px ;
    max-height: 800px;
    background-size: 74% 99%;
}

#Login{
	border-radius: .25rem;
	display: block;
}

.email-prof{
   border-radius: .25rem;
    height: 30px;
}
.senha-prof{
    border-radius: .25rem;
    height: 30px;
}

#login-img{

position: relative;
bottom: 10px;
margin-left: 220px;
width:35%;


}

#Login-div{
    margin-top: 88px;
    margin-left: -96px;
}
#titulo-prof{
margin-left: 30px;
margin-top: 1px;
}

#titulo-aluno{
margin-left: -7px;
margin-bottom: -13px;
margin-top: 11px
}
 .content-login {
/*	 background: url(../img/fundo-copy.png) 0 0 no-repeat; */
	margin-right: 150px;
    margin-left: 240px;
    margin-top: -30px;


}

/* .cartoons-pass{
	clear: both;
} */

.cartoons-pass img{
    width: 91%;
    clear: both;

}

 .cartoons-pass .box-cartoons {

    width: 50px;
    height: 53px;
    border: 1px solid #146118;
    position: relative;
    left: 10px;
    top: 5px;
    background-color: rgba(113, 194, 117, 0.5);

    margin-right: 4px;
    margin-bottom: 4px;
	text-align: center;
    padding: 3px 0 0 1px;
    }
cartoons-pass figure:hover img,figure.hover img {

    width: 50px;
    height: 53px;
    left: 10px;
    top: 5px;
    border: 1px solid #146118;
    background-color: green;

    margin-right: 4px;
    margin-bottom: 4px;
	text-align: center;
    padding: 3px 0 0 0;
}

.cartoons-pass .box-selected{
    background-color: rgba(229, 255, 84, 0.5);

}

 /*.box-cartoons:active {
	background-color: green;
}*/



#professor-seta{
	margin: 0;
	padding: 0;
	border:0;
	position: relative;
	right: 35px;
	top: 36px;
}


 #aluno-seta{
	margin: 0;
	padding: 0;
	position: relative;
     bottom: 2px;

}

.lost-pass{
	color: #90EE90;
	text-decoration: underline;
}


.professor-text{
	font-family: "chewy", sans-serif;
	color: #FFFFFF;
    font-size: 26.23px;
	text-shadow: 4px 6px 8px #000000;

}

.label-prof-email, .label-prof-senha{
    font-family: "Arial", sans-serif;
	font-size: 16.43px;
    color: #FFFFFF;
	text-shadow: 4px 6px 8px #000000;
}


/* Botoes */
.pass button {
	background: url(img/btn-aluno.png) 0 0 no-repeat;
    width: 110px;
    height: 55px;
    border: none;
    margin-left: 81px;
    margin-top: 30px;
    position: relative;
    left: 27px;
    bottom: 10px;
    }



#Login-div .professor  button{
	background: url(img/btn-prof.png) 0 0 no-repeat;
	width: 110px;
    height: 55px;
    border: none;
   margin-left: 80px;
    margin-top: 20px;
  }




#aluno{
	/* margin-bottom: 20px; */
	font-family: "chewy", sans-serif;
	font-size: 26.23px;
    color: #FFFFFF;
	text-shadow: 4px 6px 8px #000000;
}

.student label{
	font-family: "Arial", sans-serif;
	font-size: 16.43px;
    color: #FFFFFF;
	text-shadow: 4px 6px 8px #000000;
}

.pass-title{
	font-family: "Arial";
	font-size: 16.43px;
	color: #FFFFFF;
	text-shadow: 4px 4px 8px #000000;
	}




.on {
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}


.cartoons-pass .box-selected{
    background-color: rgba(229, 255, 84, 0.5);

}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -5px;



}

.display-block{
display:block;
}

.display-none{
display:none;
}

@media only screen and (min-width: 1900px){
footer{
 position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 100px;
    margin-bottom: 83px;
}
.bg_login{

	height: 80vh;
    background-size: 107% 109%;
}
}