body{
    background:url("/static/img/tela-login_fundo2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    
}

.portal-sun{
  width: 412px;
  height: 366px;
  background:url("/static/img/efeito-portal.png") left center;
  animation: play 0.8s steps(10) infinite;
}
@keyframes play {
   100% { background-position: -1900px; }
}

.menu{
   background-image: url(/static/img/menu/barra.png);
   height: 120px;
   background-repeat: no-repeat;
}

.menu ul li {
   list-style: none;
   float: left;
}

.c{
   background: url(/static/img/menu/C_logo.png) 0 0 no-repeat;
   width: 182px;
   height: 162px;
}

.c a{
    width: 112px;
    height: 113px;
    display: inline-block;
}

.ambiente{
   background: url(/static/img/menu/ambiente.png) 0 0 no-repeat;
   width: 78px;
   height: 68px;
   margin-top: 32px;
}
.ambiente a{
   width: 78px;
   height: 68px;
   display: inline-block;
}

.facebook{
   background: url(/static/img/menu/facebook.png) 0 0 no-repeat;
   width: 78px;
   height: 68px;
   margin-top: 32px;
}
.facebook a{
   width: 78px;
   height: 68px;
   display: inline-block;
}

.youtube{
   background: url(/static/img/menu/youtube.png) 0 0 no-repeat;
   width: 78px;
   height: 68px;
   margin-top: 32px;
}
.youtube a{
   width: 78px;
   height: 68px;
   display: inline-block;
}

.sair{
   background: url(/static/img/menu/sair.png) 0 0 no-repeat;
   width: 40px;
   height: 37px;
   margin-top: 45px;
}
.sair a{
   width: 40px;
   height: 37px;
   display: inline-block;
}









.icon-edit{
    margin-top: 45px;
}
 .exit-icon{
    margin-top: 55px;
 }

.avatar-std{
    bottom: 0px;
    
}
.avatar-ship{
    z-index: -1;
  
}
.boneco_base{
    margin-left: 36px;
    margin-top: 70px;
    position: absolute;
    width: 30%;
}

.portal{
    width: 40%;
    bottom: 30px;
    z-index: 1;
    
}

.sol{
    position: absolute;
    margin-left: 122px;

    margin-bottom: 35px;
    margin-top: 18px;

}

.criancas{
    position: relative;
    margin-left: 60px;
    margin-top: 104px;
}
.disco{
   position: relative;
    top:175px;
    margin-left: 149px;
    width: 54%;
    animation: animacao 4s infinite;
}

@keyframes animacao{
    0%{ top: 175px;}
    50%{ top: 190px;}
    100% {top:175px;}
}

.portal-edit{
    margin-top: 24px;
    width: 90%;
    margin-left: 60px;
}
.light-game{
display:none;
}
.center{

}

#CRYSTAL{
    position: absolute;
    left: 196px;
    color: #fff;
    font-weight: bold;
    top: 30%;
}
#HP {
    position: absolute;
    top: 53%;
    left: 260px;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    #CRYSTAL{
        position: relative;
        bottom: 23.5vh;
        left: 11.5vw;
    }
    #HP {
        position: relative;
        bottom: 18vh;
        left: 14vw;
    }


    }

  table tr td:hover {
    background-color: #0391E6;
    color: white;
    }