<!doctype html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="app/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Conecturma - Manual do Professor</title>
        <meta name="description" content="Versão 201706_29">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="app/css/style.css">
    </head>
    <body>
        <div class="container">
            <div align="center" class="header col-md-12">
                        <!--<div class="logo"></div>-->
                   
                
                <h1>Recurso Pedagógico</h1> 
            </div>
            <div class="conteudo">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 offset-md-2"> <!--guia de formaçao-->
                                <div class="mb-4 box-shadow">
                                    <div class="mb-4 box-shadow">
                                        <a href="conteudo/guia_professor/Guia_do_Professor_DIGITAL.pdf" target="_blank">
                                            <figure class="foto-legenda">
                                                <img class="card-img-top botao" src="app/img/guia_de_formacao.png">
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-4 box-shadow"> <!--metodologia-->
                                    <a href="conteudo/metodologia_conecturma/CNT_Metodologia.pdf" target="_blank">
                                        <figure class="foto-legenda">
                                            <img class="card-img-top" src="app/img/Metodologia.png" alt="Metodologia">
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <div class="mb-4 box-shadow"><!--Livro do professor-->
                                    <div class="mb-4 box-shadow">
                                        <a href="app\paginas\livros_do_professor.html" >
                                            <figure class="foto-legenda">
                                                <img class="card-img-top" src="app/img/livro_professor.png" alt="Livro do Professor">
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="mb-4 box-shadow"><!--Livro do professor-->
                                    <div class="mb-4 box-shadow">
                                        <a href="conteudo/poster/index.html" target="_blank">
                                            <figure class="foto-legenda">
                                                <img class="card-img-top" src="app/img/posters.png" alt="Livro do Professor">
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="app/js/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="app/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="app/js/bootstrap.min.js"></script>
    </body>
</html>
<!-- ul>li*16>a[href=conteudo/audiolivro/PORTUGUES/CAPITULO1/]+br+audio>source[src=conteudo/audiolivro/PORTUGUES/CAPITULO1/]    -->
<!-- ul#capitulo2-1PTFilho.listaItem>li.listaItem*15>a.listaItem[href=conteudo/audiolivro/PORTUGUES2/CAPITULO1/DesafioX$.mp3]{DesafioX$.mp3}+br+audio>source[src=conteudo/audiolivro/PORTUGUES2/CAPITULO1/DesafioX$.mp3] -->
<!-- ul>li#capitulo2-$PT.listaItem*8>div.listaItem{Capítulo $} -->